@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato',sans-serif;



}
.homePage, .flights, .passengers,.resources{
  display:flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;


}
section{

  
  width: 90%;

}

.content{

  align-items: center;
}

.box{
  display:flex-grid;
  align-content: space-between;
  padding-left: "5px";
  
  font: size 50000px;
}

.mainPage{

  background-color: lightblue;
  display:flexbox;
  align-items: right;

  
}

.dateTime{
  text-align: center;
}

.message{
 font-style:italic;
 font-size: 50px;
 color:red;
 text-align: center;

}



